# Общие настройки
ENV=dev
LOG_LEVEL=DEBUG

# PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USER=habit_user
DB_PASSWORD=change_me
DB_NAME=habit_tracker

# JWT (backend)
JWT_SECRET=change_me_to_long_random_string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Telegram (bot)
BOT_TOKEN=your_Telegram_bot_token

# Backend API (bot, scheduler)
BACKEND_URL=http://backend:8000/api/v1

# Redis (bot FSM)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0